*.retry
*.pyc
__pycache__/
.pytest_cache/
.coverage
htmlcov/
.env
.venv/
*.log
*.dat
*.dsl
*.dat
!.venv/lib/python3.13/site-packages/ansible_collections/community/dns/plugins/public_suffix_list.dat
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.coverage
coverage.xml
*.log

.idea/
uv.lock
