[Unit]
Description=Load Acer WMI Battery module
After=systemd-modules-load.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/modprobe acer_wmi_battery
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
