PACKAGE_NAME="{{ acer_battery_module_name }}"
PACKAGE_VERSION="{{ acer_battery_version }}"
BUILT_MODULE_NAME[0]="acer-wmi-battery"
DEST_MODULE_LOCATION[0]="/extra/"
AUTOINSTALL="yes"
{% if acer_battery_enable_signing %}
POST_BUILD="scripts/sign-modules.sh \$kernelver"
SIGN_ONLY="yes"
{% endif %}
MAKE[0]="make"
CLEAN="make clean"
