PACKAGE_NAME="acer-wmi-battery"
PACKAGE_VERSION="{{ acer_battery_version }}"
BUILT_MODULE_NAME[0]="acer-wmi-battery"
DEST_MODULE_LOCATION[0]="/kernel/drivers/platform/x86"
AUTOINSTALL="yes"
MAKE[0]="make"
CLEAN="make clean"
POST_BUILD="scripts/sign-modules.sh \$kernelver"
SIGN_ONLY="yes"
