---
# Package mappings for different distributions
packages:
  Debian:
    - git
    - dkms
    - linux-headers-{{ ansible_kernel }}
    - build-essential
    - mokutil
    - rsync
  RedHat:
    - git
    - dkms
    - kernel-headers
    - kernel-devel
    - gcc
    - make
    - mokutil
    - rsync
  Fedora:
    - git
    - dkms
    - kernel-headers
    - kernel-devel
    - gcc
    - make
    - mokutil
    - rsync
  Suse:
    - git
    - dkms
    - linux-headers
    - kernel-devel
    - gcc
    - make
    - mokutil
    - rsync
  Archlinux:
    - git
    - dkms
    - linux-headers
    - base-devel
    - mokutil
    - rsync

# Version of the module to install
acer_battery_version: "main"

# Repository URL
acer_battery_repo_url: "https://github.com/frederik-h/acer-wmi-battery.git"

# Source directory
acer_battery_source_dir: "/usr/src/acer-wmi-battery-{{ acer_battery_version }}"

acer_battery_install_managed_marker: true
acer_battery_role_repo_url: "https://github.com/yaconsult/AcerBattery.git"

# Module signing configuration
acer_battery_force_signing: false
acer_battery_force_no_signing: false

acer_battery_force_rebuild_current_kernel: false

# MOK configuration
acer_battery_mok_dir: "/var/lib/dkms"
acer_battery_mok_key: "{{ acer_battery_mok_dir }}/mok.key"
acer_battery_mok_pub: "{{ acer_battery_mok_dir }}/mok.pub"
acer_battery_mok_der: "{{ acer_battery_mok_dir }}/mok.der"
